body {
    /* background-image: linear-gradient(213deg,  #38ba8a 0, #3ba5b4 100%); */
    width: 100%;
    height: auto;
         
}

.featuresEvents:hover, .backBtn:hover, .checkBtn:hover, .mdBtn:hover {
  text-decoration: none;  
  text-decoration-line: none;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

header {
    background-color: #1e2033;
} 

#user svg, #premimumUser svg {
    width: 40px;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    float: left;
  }

  #premimumUser svg {
    width: 48px !important;
  }

  #premimumWebinar svg {
    width: 48px !important;
    color: rgb(235, 181, 47);
    height: 20px;
    /* padding: 8px; */
    text-align: center;
    text-decoration: none;
  }
.vhHeader ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
 }
.vhHeader li {
     float: left;
 }

.vhHeader li a {
     text-decoration: none;
     display: block;
     padding: 15px;
     color: white;
     text-align: center;
 }

 .backButton {
   padding: 1rem;
   font-size: large;
 }

 .backButton a {
   text-decoration-line: none;
 }

 .vhevents .banner {
    height: 20rem;
    color: white;
 }

 .vhevents h1 {
   line-height: 15rem;
 }

 .featuresEvents {
  text-decoration-line: none;
  float: right;
 }

 /* .card:hover {
     transform: scale(1.5);
 } */

.modal .svg {
     justify-content: center;
 }

.horizontal {
     display: none;
 }
.horizontal .card {
     max-width: 80%;
     margin: 10px;
     padding: 10px;
 }

 iframe {
  margin: 2rem;
 }

.horizontal .card-footer {
     float: right;
     background: white;
    padding: 0px;
    border-top: none !important;
 }

 .mediaShare li {
    text-decoration: none;
     display: block;
     padding: 5px;
     text-align: center;
     float: left;
 }

 .mediaShare .socialMedia .fab {
  padding: 12px;
  font-size: 17px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 4px 0px;
  border-radius: 50%;
  height: 40px;

  }
  
  .mediaShare .socialMedia .fab:hover {
      opacity: 0.7;
  }
  
  .mediaShare .socialMedia  .fa-facebook-f {
    background: #3B5998;
    color: white;
  }
  
  .mediaShare .socialMedia  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .mediaShare .socialMedia  .fa-whatsapp {
    background: rgb(24, 196, 39);
    color: white;
  }
  
  .mediaShare .socialMedia  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .list-group-item {
    font-weight: bold;
  }
  .vanHackathon h5 {
    text-align: center;
    margin-top: 7rem;
    font-weight: bold;
    font-size: xx-large;
  }
  .vanHackathon p {
    text-align: center;
  }
  #HackathonModal #hackBg {
    background-size: 72rem 24rem;
  }
  
  #HackathonModal #appliedMsg{
    font-size: 17px;
    font-weight: 400;
    /* margin-top: 4rem; */
  }

  #HackathonModal #hackathonModalLabel {
    margin-top: 7rem;
    height: 15rem;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: xx-large;
  }